@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Orbitron:wght@500&display=swap");

.app {
  background-color: #f4faff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Orbitron", sans-serif;
}
