@import "./global.scss";

.operatorButton {
  background-color: $pink;
  width: 50px;
  height: 5 0px;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $light-blue;
  box-shadow: 2px 2px white;
  font-size: 20px;
}

.operatorButton:hover {
  transform: scale(0.8);
  box-shadow: none;
}

.operatorButton__clicked {
  background-color: $dark-pink;
  width: 50px;
  height: 5 0px;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $light-blue;
  box-shadow: 2px 2px white;
  font-size: 20px;
}
